<div class="mx-auto">
  <nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <a class="navbar-brand" href="/">Learning portal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
      <ul class="navbar-nav ">
        <li class="nav-item dropdown" *ngIf="userLoggedIn; else elseBlock">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            {{userLoggedIn.email}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" (click)="logout()">Sign out</a>
          </div>
        </li>
        <ng-template #elseBlock>
          <li class="nav-item">
            <a class="nav-link" routerLink="/sign-in">Sign in</a>
          </li>
        </ng-template>
      </ul>
    </div>
  </nav>

  <main>
    <div class="container">
      <div class="justify-content-center w-80">
        <p></p>
        <router-outlet></router-outlet>
      </div>
    </div>
  </main>
</div>


