<div class="container mx-auto">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <p></p>
      <div class="card">
        <article class="card-body">
          <h4 class="card-title mb-4 mt-1" style="text-align: center">Sign in</h4>
          <div *ngIf="serverError" class="alert alert-danger">{{serverError}}</div>
          <hr>
          <form>
            <div class="form-group">
              <input name="username" class="form-control" placeholder="Username" type="username" [(ngModel)]="signInData.username"
                     #username="ngModel" required/>
              <div [hidden]="username.valid || username.untouched" class="alert alert-danger">
                Please check your email. Example: test@gmail.com
              </div>
            </div>
            <div class="form-group">
              <input name="password" class="form-control" placeholder="******" type="password"
                     [(ngModel)]="signInData.password" #password="ngModel" required/>
              <div [hidden]="password.valid || password.untouched" class="alert alert-danger">
                Please, enter your password.
              </div>
            </div>
            <button [disabled]="username.invalid || password.invalid" class="btn btn-primary btn-block"
                    style="align-self: center" (click)="login()" type="submit">Sign in
            </button>
          </form>
        </article>
      </div>
    </div>

  </div>
</div>
